/*
    SITE BODY STYLES
*/

body{
    background-color: #2B2B2B;
}

h1{
    font-size: 42pt;
}

.container-fluid{
    padding: 0;
}
/*
    SITE NAV STYLES
*/

.navbar-inverse, .navbar{
    background-image: none;
    background-color: #2B2B2B;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a{
    color: #F6F6F6;
    text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #94618E;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a{
    background-image: none;
    background-color: #94618E;
    color: #F8EEE7;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #49274A;
    color: #F6F6F6;
    box-shadow: none;
    -webkit-box-shadow: none;
}


@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}

/*
    JUMBOTRON AND STARTING INFO STYLES
*/

h1.backgroundclip{
    background: url(/media/img/fog.jpg) fixed no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    font-weight: bold;
}

h2.quality{
    color: #49274A;
}

.container-fluid .jumbotron{
    background-color: #F6F6F6;
    border-radius: 0;
}

.jumbotron h1{
    padding: 2%;
}

a h2.quality{
    text-decoration: none;
}

a h2.quality:hover{
    color: #94618E;
}

/*
    ABOUT ME STYLES
*/

.about{
    background-color: inherit;
    color: #F8EEE7;
    padding-bottom: 5%;
}

.about h1{
    margin-bottom: 5%;
    text-align: center;
}

.about h1::after{
    content: "";
    display: block;
    background: #94618E;
    height: 4px;
    width: 300px;
    margin: 1% auto;
}

.circle {
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #94618E;
    margin: auto;
}

.innerTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
}

@media (min-width: 768px) {
    .innerTitle{
        font-size: 2vw;
    }
}

/*
    CONTACT ME STYLES
*/

.contact{
    background-color: #F6F6F6;
    padding: 1% 2%;
}

.contact h1{
    text-align: center;
    margin-bottom: 0;
}

.contact h1::after{
    content: "";
    display: block;
    background: #94618E;
    height: 4px;
    width: 300px;
    margin: 1% auto;
}

@media(max-width: 768px){
    .contLinks{
        width: 100%;
        padding: 0 10%;
    }
}


.contInfo{
    width: 50%;
    display: block;
    float: left;
    padding: 0;
    margin: 5px auto;
}


@media(min-width: 768px){
    @media(max-width: 1600px) {
        .contInfo {
            clear: left;
            width: 100%;
        }
    }
}

@media(max-width: 550px){
    .contInfo{
        padding: 0;
        width: 25%;
        margin: auto;
    }

    .fa{
        margin: 5px 40%;
    }

    .contText{
        display: none;
    }
}

.form-control{
    margin: 5px;
}

.form-control:focus{
    border-color: #94618E;
}

.btn{
    margin: 5px;
}

/*
    FOOTER STYLES
*/
footer{
    color: #F8EEE7;
}

footer div p{
    text-align: center;
    margin: 5px auto;
}