/*
    SITE BODY STYLES
*/

body{
    background-color: #2B2B2B;
}

h1{
    font-size: 42pt;
    margin-bottom: 5%;
    text-align: center;
}

.container-fluid{
    padding: 0;
}

a, a:hover, a:active, a:focus{
    text-decoration: none;
    color: inherit;
}

/*
    SITE NAV STYLES
*/

.navbar-inverse, .navbar{
    background-image: none;
    background-color: #2B2B2B;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 100;
}

.navbar-inverse .navbar-nav > li > a{
    color: #F8EEE7;
    text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #94618E;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a{
    background-image: none;
    background-color: #94618E;
    color: #F8EEE7;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #49274A;
    color: #F8EEE7;
    box-shadow: none;
    -webkit-box-shadow: none;
}


@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}

.nav-up{
    top: -50px;
}

/*
    JUMBOTRON AND STARTING INFO STYLES
*/

h1.backgroundclip{
    background: url(/media/img/lavender.jpg) fixed no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    font-weight: bold;
}

.container-fluid .jumbotron{
    background-color: #F6F6F6;
    border-radius: 0;
}

.jumbotron h1{
    padding: 2%;
}

h2.quality{
    color: #49274A;
    font-size: 16pt;
}

@media(min-width: 880px){
    h2.quality {
        font-size: 3vw;
    }
}

a h2.quality{
    text-decoration: none;
}

a h2.quality:hover{
    color: #94618E;
}

.engineerInfo{
    display: none;
}

.studentInfo{
    display: none;
}

.mentorInfo{
    display: none;
}

.info{
    color: #F8EEE7;
    background-color: #94618E;
    padding: 2%;
    text-align: left;
    position: relative;
    height: 400px;
}

.info h2{
    margin: 20px auto 20px auto;
}

.info h3{
    margin-top: 0;
}

.info img{
    display: none;
}

.jobTitle{
    font-weight: bold;
}

.timePeriod{
    font-style: italic;
}

.info:after{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F6F6F6;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
}

@media(min-width: 768px){

    .info h2{
        margin-top: 10px;
    }
    .info img{
        display: block;
        width: 100%;
    }

    .engineerInfo:after{
        left: 15%;
        margin-left: -10px;
    }
    .mentorInfo:after{
        left: 83%;
        margin-left: -10px;
    }
}

/*
    ABOUT ME STYLES
*/

.about{
    background-color: inherit;
    color: #F8EEE7;
    padding-bottom: 5%;
}

.about h1::after{
    content: "";
    display: block;
    background: #94618E;
    height: 4px;
    width: 300px;
    margin: 1% auto;
}

a.circle{
    color: #F8EEE7;
    text-decoration: none;
}

div.circle {
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #94618E;
    margin: 10px auto;
}

.col-sm-4, .col-sm-12{
    -webkit-transition: width 1s ease, margin 1s ease;
    -moz-transition: width 1s ease, margin 1s ease;
    -o-transition: width 1s ease, margin 1s ease;
    transition: width 1s ease, margin 1s ease;
}

.innerTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
}

.innerInfo{
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

@media (min-width: 768px) {
    .innerTitle{
        font-size: 2vw;
    }
}

/*
    EXPERIENCE STYLES
*/

.experience{
    background-color: #F6F6F6;
    padding-bottom: 3%;
}

.experience h1{
    padding: 2% 1% 0 1%;
}

.experience h1::after{
    content: "";
    display: block;
    background: #94618E;
    height: 4px;
    width: 300px;
    margin: 1% auto;
}

div.langLeft{
    border-right: 1px solid black;
}

.progress-bar {
    background-image: -webkit-linear-gradient(top, #94618E 0%, #49274A 100%);
    background-image:      -o-linear-gradient(top, #94618E 0%, #49274A 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#94618E), to(#49274A));
    background-image:         linear-gradient(to bottom, #94618E 0%, #49274A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94618E', endColorstr='#49274A', GradientType=0);
    background-repeat: repeat-x;
    -webkit-transition: none !important;
    transition: none !important;
}

/*
    CONTACT ME STYLES
*/

.contact{
    color: #F8EEE7;
    padding: 1% 2%;
}

.contact h1{
    margin-bottom: 0;
}

.contact h1::after{
    content: "";
    display: block;
    background: #94618E;
    height: 4px;
    width: 300px;
    margin: 1% auto;
}

@media(max-width: 768px){
    .contLinks{
        width: 100%;
        padding: 0 10%;
    }
}


.contInfo{
    width: 50%;
    display: block;
    float: left;
    padding: 0;
    margin: 5px auto;
}


@media(min-width: 768px){
    @media(max-width: 1600px) {
        .contInfo {
            clear: left;
            width: 100%;
        }
    }
}

@media(max-width: 550px){
    .contInfo{
        padding: 0;
        width: 25%;
        margin: auto;
    }

    .fa{
        margin: 5px 40%;
    }

    .contText{
        display: none;
    }
}

.form-control{
    margin: 5px;
}

.form-control:focus{
    border-color: #94618E;
}

.btn{
    margin: 5px;
}

/*
    FOOTER STYLES
*/
footer{
    background-color: #F6F6F6;
}

footer div p{
    text-align: center;
    margin: 5px auto;
}