/*
    GENERAL STYLING
*/

html, body{
    color: #4d4d4d;
}

hr{
    border-top: 1px solid #c3c3c3;
}

h3{
    font-size: 20px;
}

.container {
    padding: 60px 20px;
    min-width: 350px;
    max-width: 1280px;
}

.white-background {
    background-color: #F0F0F0;
}

.beige-background {
    background-color: #eedfcc;
}

h1.title {
    text-align: center;
    font-size: 32pt;
}

p.desc {
    text-align: center;
    font-size: 18pt;
    font-weight: 200;
    margin-bottom: 30px;
}

span.origin {
    font-style: italic;
    font-weight: 100;
}

@media screen and (min-width: 992px){
    .container {
        padding: 40px 180px;
    }
}

/*
    TOP DIV (LANDING AREA)
*/

#landing {
    text-align: center;
    color: white;
    margin: 0;
    background: no-repeat center center fixed url(img/background.jpg);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='view/img/background.jpg', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='view/img/background.jpg', sizingMethod='scale');
    padding: 0px;
}

#landing .container {
    position: relative;
    z-index: 10;
    padding: 60px 20px;
}

#landing .container h1.name {
    padding: 10px;
    border-bottom: solid 2px white;
    display: inline-block;
    font-size: 36pt;
}

#landing .overlay {
    background-color: #9A32CD;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 5;
}

@media screen and (min-width: 1200px){
    #landing .container {
        padding: 40px 180px;
    }
}

@media screen and (min-width: 768px){
    #landing .container h1.name {
        font-size: 75pt;
        padding: 30px;
        margin-bottom: 20px;
    }

    #landing .container p.tag-line {
        font-size: 24pt;
    }
}

/*
    PERSONAL DIV STYLES
*/

#personal .row > div {
    margin-bottom: 35px;
}

#personal .portrait {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(154,50,205, 0.5);
    width: 100%;
}

/*
    EXPERIENCE DIV STYLES
*/
#experience .row {
    margin-bottom: 50px;
}

#experience .subtitle{
    margin-bottom: 20px;
}

#experience .company, #experience .school{
    margin-top: 0;
}

#experience .job-title, #experience .degree{
    font-size: 18px;
    font-weight: 500;
}

#experience .timespan{
    font-style: italic;
}

#experience .job-desc > span, #experience .school-desc > span {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}