/*
    GENERAL STYLING
*/

html, body{
    color: #4d4d4d;
    height: 100%;
    position: relative;
}

hr{
    border-top: 1px solid #c3c3c3;
}

h3{
    font-size: 20px;
}

.container {
    padding: 60px 20px;
    min-width: 350px;
    max-width: 1280px;
}

.white-background {
    background-color: #F0F0F0;
}

.beige-background {
    background-color: #eedfcc;
}

h1.title {
    text-align: center;
    font-size: 32pt;
}

p.desc {
    text-align: center;
    font-size: 18pt;
    font-weight: 200;
    margin-bottom: 30px;
}

span.origin {
    font-style: italic;
    font-weight: 100;
}

@media screen and (min-width: 992px){
    .container {
        padding: 40px 180px;
    }
}

/*
    NAV STYLES
*/

.navbar {
    border: 0;
    background-color: #4d4d4d;
    position: absolute;
    top: 100%;
    right: 5%;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}

.navbar .navbar-nav {
    float: none;
}

.navbar-nav {
    margin: 0;
}

.navbar .nav > li {
    display: block;
    float: none;
    height: 60px;
}

.navbar .nav > li a {
    display: block;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #b66bdb;
    color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background: #222222;
}

.fixed .navbar {
    position: fixed;
    top: 0px;
}

@media (min-width: 768px){
    .navbar {
        width: 110px;
        left: auto;
    }
    .navbar .nav > li {
        height: 80px;
    }

    .navbar .nav > li a {
        height: 80px;
        padding-top: 30px;
    }

    .fixed .navbar {
        top: 60px;
    }
}

/*
    TOP DIV (LANDING AREA)
*/

#landing {
    text-align: center;
    color: white;
    margin: 0;
    background: no-repeat center center fixed url(img/background.jpg);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='view/img/background.jpg', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='view/img/background.jpg', sizingMethod='scale');
    padding: 0;
    position: relative;
}

#landing .container {
    position: relative;
    z-index: 10;
    padding: 60px 20px;
}

#landing .container h1.name {
    padding: 10px;
    border-bottom: solid 2px white;
    display: inline-block;
    font-size: 36pt;
}

#landing .overlay {
    background-color: #9A32CD;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 5;
    height: 100%;
}

#landing .scroll-down {
    height: 80px;
    width:100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #4d4d4d;
    text-align: center;
    z-index: 10;
}

 #landing .scroll-down .fa {
    color: #FFFFFF;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@media screen and (min-width: 1200px){
    #landing .container {
        padding: 40px 180px;
    }
}

@media screen and (min-width: 768px){
    #landing .container h1.name {
        font-size: 75pt;
        padding: 30px;
        margin-bottom: 20px;
    }

    #landing .container p.tag-line {
        font-size: 24pt;
    }

    #landing .scroll-down {
        width: 110px;
        right: 5%;
    }
}

/*
    PERSONAL DIV STYLES
*/

#personal .row > div {
    margin-bottom: 35px;
    text-align: center;
}

#personal .portrait {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(154,50,205, 0.5);
    width: 50%;
}

@media (min-width: 768px) {
    #personal .row > div {
        text-align: left;
    }

    #personal .portrait {
        width: 100%;
    }
}

/*
    EXPERIENCE DIV STYLES
*/
#experience .row {
    margin-bottom: 50px;
}

#experience .subtitle{
    margin-bottom: 20px;
}

#experience .company, #experience .school{
    margin-top: 0;
}

#experience .job-title, #experience .degree{
    font-size: 18px;
    font-weight: 500;
}

#experience .job-title, #experience .job-desc, #experience .degree, #experience .school-desc {
    margin-left: 5%;
}

#experience .timespan{
    font-style: italic;
}

#experience .job-desc > span, #experience .school-desc > span {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    #experience .job-title, #experience .job-desc, #experience .degree, #experience .school-desc {
        margin-left: auto;
    }
}

/*
    SKILLS DIV STYLES
*/

.skill-col {
    text-align: center;
    padding: 10px;
}

.skill-col:nth-of-type(even) {
    background-color: #e5e5e5;
}

.skill-col .subtitle {
    margin: 10px auto 25px auto;
    font-size: 20pt;
}

.skills-list {
    padding: 0;
}

.skill {
    list-style: none;
    margin: 10px auto;
    font-size: 12pt;
}

@media (min-width: 992px) {
    #skills .row{
        display: flex;
    }
}

/*
    CONTACTS DIV STYLES
*/

#contact {
    background-color: #4d4d4d;
    color: #F0F0F0;
}

#contact .container {
    padding-bottom: 0;
}

#contact .row {
    font-size: 16px;
}

#contact a{
    color: #b66bdb;
    text-decoration: none;
}

#contact a:hover{
    text-decoration: none;
}

footer {
    text-align: center;
    padding-bottom: 15px;
}

footer p.footer-text {
    margin: 0;
}